<app-user-login *ngIf="!isuserloggedin"></app-user-login>
<app-navbar ismobile="{{ismobile}}" class="bg-transparent"></app-navbar>
<app-user-profile [isprofiletoggled]="isprofiletoggled"></app-user-profile>
<app-user-cart [iscarttoggled]="iscarttoggled"></app-user-cart>
<app-products-category [selectedcategory]="selectedcategory" [searchedproduct]="searchedproduct"></app-products-category>
<app-product-modal [isproductmodaltoggled]="isproductmodaltoggled" [productdetails]="productdetails"></app-product-modal>