<section id="Projects"
         class="grid grid-cols-1 w-full h-full p-4 gap-10 justify-start items-start
                xs:grid-cols-2
                sm:grid-cols-3
                md:grid-cols-4
                lg:grid-cols-5">
    <div *ngFor="let details of porductsToBeDisplayed | keyvalue">
        <app-product-box [productname]="details.value.name"
                         [productimg]="details.value.img"
                         [productcategory]="details.value.category"
                         [productcurrency]="details.value.currency"
                         [productoldPrice]="details.value.oldPrice"
                         [productprice]="details.value.price"
        ></app-product-box>
    </div>
</section>
