.mat-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.buttonAnimation {
    position: relative;
    transition: all .5s ease-in-out;
    .material-icons {
        transform: translateX(0px);
        transition: all .5s ease-in-out;
    }
    p {
        opacity: 1;
        transition: all .5s ease-in-out;
    }
    &:hover {
        .material-icons {
            transform: translateX(35px);
        }
        p {
            opacity: 0;
        }
    }
}

.modal_container {
    transform: scale(0);
    animation: leaves 1s ease-in-out .5s;
    -webkit-animation: leaves .5s ease-in-out .5s;
    animation-fill-mode: forwards;
}

@keyframes leaves {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}