<div *ngIf="ismobile === 'true'">
    <div class="flex flex-row justify-center items-center gap-5 p-5 relative">
        <div class="flex flex-row justify-center items-center p-1 bg-white rounded-full"
             (click)="openModal('player_profile')">
            <mat-icon class="hover:scale-125 duration-200 text-blue-500 text-xl"
                      aria-hidden="false"
                      aria-label="Player Profile Icon"
                      fontIcon="face"></mat-icon>
        </div>
        <app-search-bar></app-search-bar>
        <div class="flex flex-row justify-center items-center p-1 bg-white rounded-full">
            <mat-icon class="hover:scale-125 duration-200 text-blue-500 text-xl" aria-hidden="false" aria-label="Shopping Cart Icon" fontIcon="shopping_basket"></mat-icon>
        </div>
    </div>
</div>
<div *ngIf="ismobile === 'false'">
</div>