<div>
    <div class="flex flex-row justify-center items-center gap-5 p-5 relative">
        <div class="flex flex-row justify-center items-center px-1 bg-white rounded-full
                    hover:cursor-pointer"
             (click)="openModal('player_profile')">
            <i class="material-icons duration-200 text-blue-500 text-3xl
                      hover:scale-125 ">face</i>
        </div>
        <app-search-bar></app-search-bar>
        <div class="flex flex-row justify-center items-center px-1 bg-white rounded-full
                    hover:cursor-pointer"
             (click)="openModal('user_cart')">
            <i class="material-icons duration-200 text-blue-500 text-2xl
                    hover:scale-125">shopping_cart</i>
        </div>
    </div>
</div>
<div *ngIf="ismobile === 'false'">
</div>