<div *ngIf="ismobile === 'true'">
    <div class="flex w-screen h-screen">
        <div class="m-auto w-44 h-44 p-5 relative rounded-full bg-blue-500">
            flower
            <div class="absolute -top-1/4 -left-1/4 transform -translate-x-1/2 -translate-y-1/2 w-24 h-24 p-5 rounded-full bg-red-500">
                flower
            </div>

            <div class="absolute -top-2/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-24 h-24 p-5 rounded-full bg-red-500">
                flower
            </div>

            <div class="absolute -top-1/4 -right-3/4 transform -translate-x-1/2 -translate-y-1/2 w-24 h-24 p-5 rounded-full bg-red-500">
                flower
            </div>

            <div class="absolute -top-1/4 -left-1/4 transform -translate-x-1/2 -translate-y-1/2 w-24 h-24 p-5 rounded-full bg-red-500">
                flower
            </div>

            <div class="absolute -top-2/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-24 h-24 p-5 rounded-full bg-red-500">
                flower
            </div>

            <div class="absolute -top-1/4 -right-3/4 transform -translate-x-1/2 -translate-y-1/2 w-24 h-24 p-5 rounded-full bg-red-500">
                flower
            </div>
        </div>
    </div>
</div>
<div *ngIf="ismobile === 'false'">
</div>